.container
{
    background-color: #D1E8E4;
    /* height: 100%; */
    /* color: azure; */
  
  
}
body {
    background-image: url('LSsT.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;   height: 100vh;
    background-size: cover;z-index: -1;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
  }