.container
{
    background-color: #D1E8E4;
    /* height: 100%; */
    /* color: azure; */
    background-image: linear-gradient(to right bottom, #3db2ff, #03c5fe, #28d6f5, #5be4ea, #89f1df, #92f5ea, #9cf9f5, #a7fdfe, #b1f7ff, #cdeeff, #ebe5ff, #ffdefa);
  
  
}
body {
    background-image: url('LSsT.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;   height: 100vh;
    background-size: cover;z-index: -1;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
  }