
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
<body>
  <div  class="container">
  <nav>

             <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-1">
       <li class="nav-item ">
        <a class="nav-link" href="/mprofile">Profile </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/mlogout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/mproduct">products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/msells">sells</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/mcustomer">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/mfarmer">Farmers</a>
      </li>
     
      
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/auth/mproduct" method="POST" >
      <input class="form-control mr-sm-2" type="search" name="p_type" placeholder="Search">
      <input class="form-control mr-sm-2" type="search" name="p_name" placeholder="Search" style="visibility: hidden;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
    
  </div>
</nav>
  <div class="container">
    <h1>Welcome {{user.ad_name}}</h1>
 
    <h2>mobile no.= {{user.ad_mobile}}</h2>
    {{!-- <form action="/auth/efprofile" method="POST">
        <div class="form-group">
        	<input type="text" class="form-control" name="address" placeholder="new address" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" >Edit</button>
        </div>
    </form>
     --}}
  </div>
  </div>
</body>
</html>
