.container
{
    background-color: #95D1CC;
    /* color: azure; */
  
  
}
body {
    background-image: url('LSsT.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;   height: 100vh;
    background-size: cover;z-index: -1;
}
